
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="Post" action="~/User/Index">
        FirstName:<input type="text" id="FirstName" name="FirstName" /><br />
        LastName:<input type="text" id="LastName" name="LastName" /><br />
        Age:<input type="text" id="Age" name="Age" /><br />
        Designation:<input type="text" id="Designation" name="Designation" /><br />
        City:<input type="text" id="City" name="City" /><br />
        Salary:<input type="text" id="Salary" name="Salary" /><br />
        <input type="reset" name="reset" id="reset" value="Reset" />
        <input type="submit" name="submit" id="submit" value="Submit" />
    </form>
</body>
</html>
